body{
    background-color: thistle;
}

.bubble{
    background-color: red;
}

.p-tag-node{
    font-size: 24px;
    text-align: center;
    margin-top: 50px;
    font-family: cursive;
}

.add_emp_form{
    padding: 50px;
    border: 1px solid gray;
}